#eyeb {
  transform: translateY(-9px);
  animation: eyeb 5s linear infinite;
}

.profile-pic-div {
  position: relative;
  justify-items: center;
  align-items: center;
}

.svg-format {
  position: absolute;
  z-index: -1;
}

.picture {
  transform: translateY(-9px);
  -ms-transform: translateY(-9px);
  -moz-transform: translateY(-9px);
  animation: head 10s infinite;
}

@keyframes head {
  0% {
    transform: translateY(-8);
  }

  25% {
    transform: translateY(0px);
  }

  75% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(8);
  }
}
