.OutlinedCard{
   margin: 2rem;
}
.portofolio_image{
   border-radius: 50px;
   width: 170px;
   display: block;
   margin:20px;
   padding:5px
}
.card_content {
   display: flex;
   flex-direction: column; /* Align items vertically */
   align-items: center;    /* Center horizontally */
   justify-content: center; /* Center vertically */
   height: 100%;
 }
.contact-item{
   display: flex;
   column-gap: 15px;
}
.contact-title{
   color: #979798;
   font-size: small;
   margin-bottom: 2px;
   font-weight: bold;
}
.contact-link{
   font-weight: 600;
}